/* Angular Material Custom */
md-sidenav.b-md-sidenav {
    width: 250px;
}

.md-list-item-text > .b-custom {
    background: #FBE9E7;
    border-radius: 10px;
    padding: 5px 10px;
}

.md-sidenav-right {
    top: 64px !important;
}

md-input-container.b-no-magin-t-b {
    margin-top: 0;
    margin-bottom: 0;
}

md-input-container > md-icon.b-fa-icon {
    top: 17px;
}

@media only screen and (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    .md-sidenav-right {
        top: 56px !important;
    }
}

@media only screen and (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
    .md-sidenav-right {
        top: 46px !important;
    }
}
